body {
  padding: 70px;
  text-align: center;
}

button {
  margin: 10px;
}

.spinner {
  margin: 10px;
}

.layout {
  display: flex;
}

pre {
  text-align: left;
}

.done {
  text-decoration: line-through;
}

form {
  display: flex;
}

p {
  margin: 0px;
}

.add {
  margin-top: 0px;
}

.list-group-item {
  cursor: pointer;
}